body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}
.navigation {
  visibility: hidden;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(220, 222, 233, 0.5);
  background-image: url(https://shopjk.net/assets/frontend/theme_5/image/svg/navigation-swiper.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 100% 100% 0;
  cursor: pointer;
  z-index: 10;
}
.swiper .navigation.slider-prev {
  left: 0;
}

.swiper .navigation {
  top: 48%;
  visibility: visible;
}

.swiper .navigation.slider-next {
  right: 0;
  transform: rotate(-180deg);
}
.box-icon {
  background-color: #f3f3f7;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
.box-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#num-notification {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  background: #da4343;
  color: white;
  border-radius: 100%;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  padding: 0 5px;
}
.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.discount-title {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: inherit;
  font-weight: 500;
  text-decoration: unset;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.tab-checkout {
  content: " ";
  height: 2px;
  background-color: rgb(20, 53, 195);
  display: inline-block;
  position: absolute;
  transition: all 0.2s ease-out 0s;
  bottom: 0px;
  left: 0px;
  width: 127px;
}

.notify_menu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 8px;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #f3f3f7;
}
.form-item-required::before {
  display: inline-block;
  margin-right: 4px;
  color: rgb(255, 77, 79);
  font-size: 12px;
  line-height: 1;
  content: "*";
}
.form-input {
  border-style: solid;
  border-radius: 0.25rem;
  border-width: 1px;
  opacity: 1;
  height: 40px;
  padding: 0rem 0.75rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-color: rgb(224, 224, 224);
  box-sizing: border-box;
}
.form-input input {
  flex: 1 1 0%;
  width: 100%;
  border: none;
  font-size: 13px;
  color: rgb(67, 70, 87);
  box-sizing: border-box;
}

.hr-checkout {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
}
.css-yae08c {
  display: flex;
  width: 100%;
  border-top: 1px solid #e4e5f0;
}
.title-checkout {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: inherit;
  font-weight: 700;
  text-decoration: unset;
  font-size: 20px;
  line-height: 28px;
  overflow: hidden;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}
select:disabled,
input:disabled {
  background-color: #f3f3f7;
}

.form-input-error {
  margin: 0.25rem 0px 0px 4px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  height: auto;
  color: rgb(218, 67, 67);
  font-weight: 400;
  text-decoration: unset;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
  min-height: 16px;
}
.bg-content {
  overflow: hidden;
  position: relative;
}
.bg-content::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear,left top,left bottom,from(transparent),to(#fff));
  background: linear-gradient(transparent,#fff);
  height: 200px;
}
.bg-content img {
 text-align: center
 
}
@tailwind base;
@tailwind components;
@tailwind utilities;
